/* Universal Selector */
:root {
  --light: white;
  --lightgray: lightgray;
  --dark: #06234a;
  --blue: #4786ba;
  --lightblue: lightblue;
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Element Selectors */
body {
    position: relative;
    margin: 0;
    display: inline;
    background-color: var(--lightgray);
}

header {
  background-color: var(--blue);
  display: flex;
  align-items: center;
  color: var(--light);
  border-bottom: 5px solid var(--light);
}

footer {
  height: 50px;
  width: 100%;
  background-color: var(--blue);
  border-bottom: 5px solid var(--dark);
  border-top: 5px solid var(--light);
  position: absolute;
  bottom: 0;
}

nav {
  margin: 2rem ;
}

h1 {
  margin: 2rem;
  font-size: 200%;
}

nav li {
  display: inline;
  text-align: right;
}
nav a {
  font-size: 16px;
  text-decoration: none;
  padding: 5px;
  color: var(--light);
}

/* Class Selectors */
.avatar-still {
  border-style: dashed;
  border-radius: 8em;
  margin: 20px 30px;
  width: 200px;
  height: 200px;
  
}

.avatar-gif {
  position: fixed;
  opacity: 0;
  border-style: dashed;
  border-radius: 8em;
  margin: 20px 30px;
  width: 200px;
  height: 200px;
  
}

section {
  margin: 20px;
  padding: 50px;
  height: 300px;
  background-color: var(--lightblue) 20%;
  border-radius: 1em;
}

.logo-container {
  
}

.icon {
  width: 20px;
  
}

/* Pseudo Element Selectors */
.avatar-still:hover {
  opacity: 0;
}

.avatar-gif:hover {
  transform: scale(1.3);
  border-style: solid;
  background-color: var(--blue);
  opacity: 1;
}

nav a:hover {
  border-radius: 5px;
  background-color: var(--lightgray);
  color: var(--dark);
}

/* When screen smaller than 768px */
@media screen and (max-width: 768px) {
    header {
      flex-direction: column;
    }
  
    nav li {
      display: block;
      padding: 5px;
      text-align: center;
    }
}